@import "../../../index.scss";

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(87, 86, 86, 0.6);
}

.modal {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $default-white-color  ;

  @media screen and (min-width: 768px) {

  margin-left: 43px;
  margin-right: 44px;
  }
  
  @media screen and (min-width: 1200px) {
   
  }
}

.modalCloseBtn{
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 17px;
  transition: box-shadow linear 350ms;
  

  background: #FDF7F2;

  &:hover {
  background: #FDF7F2;
  box-shadow: 7px 13px 14px rgba(116, 177, 232, 0.24);
  }

  @media screen and (min-width: 768px) {
    top: 28px;
  right: 28px;
  }
  
  @media screen and (min-width: 1200px) {
    top: 29px;
  right: 29px;
  }
}

.modalCloseBtnIcon{
  width: 20px;
  height: 20px;

  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}