@import "../../../index.scss";

.form {
  position: relative;
  max-width: 608px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  margin-top: 40px;

  @media (max-width: 767px) {
    margin-top: 24px;
  }
}

.namePage {
  margin-top: 45px;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #111111;

  @media screen and (min-width: 768px) {
    margin-top: 82px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 91px;
  }
}

.input {
  width: 100%;
  padding: 14px 0 13px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: $grey-color;
}

.clearBtn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  position: absolute;
  right: 13px;
  top: 10px;
  line-height: 0;
  background-color: transparent;
}

.submitBtn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  position: absolute;
  right: 12px;
  top: 10px;
  line-height: 0;
  background-color: transparent;
  &.active {
    right: 47px;
  }
}
@media screen and (min-width: 768px) {
  .form {
    width: 100%;
  }
  .input {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  .submitBtn {
    right: 20px;
  }
}

// .search__buttonSearch {
//   position: absolute;
//   // top: 10px;
//   right: 14px;
//   border: 0;
//   background: transparent;
// }

// .search__buttonSearchFocus {
//   position: absolute;
//   // top: 10px;
//   right: 30px;
//   // border: 0;
//   background: transparent;
// }

// .search__buttonClearIcon {
//   height: 17px;
//   width: 17px;
// }
