.auth {
  display: flex;
  align-items: center;
}

.auth a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #fef9f9;
  margin: 0;
}

.auth a:last-child {
  font-weight: 600;
}

.auth a:last-child {
  color: #ffc107;
  border: 2px solid #ffc107;
  margin-left: 20px;
}

.auth_text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.svg {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.authButton {
  display: inline-block;
  padding: 10px 20px;
  width: 165px;
  height: 40px;
  margin-left: 10px;
  background-color: #ffc107;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.authButton:first-child {
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 0.2);
}

.authButton:last-child {
  background-color: white;
  width: 142px;
  height: 38px;
}

@media screen and (min-width: 1023) {
  .authButton:last-child {
    height: 40px;
  }
}
