@import "../../../utils/variable.scss";
@import"../../../utils/base.scss";
// .example_card{
//     display: block;
// }

.wrapper {
  display: flex;
  flex-wrap: wrap;

  row-gap: 24px;
  column-gap: 32px;
}

// .container {
//   max-width: 320px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 20px;
//   padding-right: 20px;


//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//     padding-left: 32px;
//     padding-right: 32px;
//   }

//   @media screen and (min-width: 1280px) {
//     max-width: 1280px;
//     padding-left: 16px;
//     padding-right: 16px;
//   }
// }
.example_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background: $bg-color;
  /* Shadow default */

  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 0px 0px 40px 40px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 96px) / 4);
  }

  /* padding-bottom: 20px; */
  // border: 1px solid #EEEEEE;
  // transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover,
  // &:focus {
  //     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  // }
}

.animal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 288px;
  margin-bottom: 20px;
  background-color: white;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}
.photoPet{
  width: auto;
  height: 100%;
  max-width: initial;

}
.animalsDataList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  position: absolute;
  top: 248px;
  left: 8px;
  @media screen and (min-width: 768px) {
    gap: 24px;
    left: 24px;
  }
  @media screen and (min-width: 1280px) {
    gap: 12px;
    left: 12px;
  }
}
// .animalsData{
//     display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         padding: 2px 4px;
//         gap: 4px;
//     width: 80px;
//     height: 28px;
//     background-color: $default-blue-color;
//     border-radius: 16px;

// }
// .notiesCategoriItem_locationTitle__Eecu9[title] {
//    background-color: $active-blue-color;
//   color: #111111;
//   padding: 2px 4px;
//   border-radius: 16px;
// }
.animalsDataText {
    box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  gap: 4px;
  width: 80px;
  height: 28px;
  background-color: $default-blue-color;
  border-radius: 16px;
  // font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* Черный */

  color: #111111;
}
// [title] {
//    background-color: $active-blue-color;
//   color: #111111;
//   padding: 2px 4px;
//   border-radius: 16px;
// }

.expandedLocation {
  position: relative;
}

.locationTitle {
  position: relative;
  z-index: 1;
   box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  gap: 4px;
  width: 80px;
  height: 28px;
  background-color: $default-blue-color;
  border-radius: 16px;
  // font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* Черный */

  color: #111111;
  cursor: pointer;
}

.locationContent {
  position: absolute;
  z-index: 100;
  min-width: 80px;
  text-align: center;
  bottom: calc(100% + 5px);
  
  
  left: 0;
  background-color: $active-blue-color;
  color: #111111;
  padding: 8px 12px;
  border-radius: 16px;
  display: none;
}

.expandedLocation .locationContent {
  display: block;
}
// .locationTitle:global([title]) {
//    background-color: $active-blue-color;
//   color: #111111;
//   padding: 2px 4px;
//   border-radius: 16px;
// }
// .animalsDataText:hover {
//   overflow: visible; 
// //   padding: 2px 4px;
// //   background-color: $active-blue-color;
//   white-space: normal; 
// }
// .expandedLocation {
// //   position: absolute;
// //   z-index: 999;
//   background-color: $active-blue-color; 
//   color: white; 
//   padding: 2px 4px;
// }
.icon_category {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 11px 17px;
  position: absolute;
  min-width: 126px;
  height: 32px;
  left: 0px;
  top: 16px;

  // font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #111111;
  background: $default-blue-color;
  border-radius: 0px 16px 16px 0px;
}
.favorite {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 228px;
  top: 12px;
  background: $default-blue-color;
  border-radius: 50px;
  border: none;
//   &.favorite--active{
// background: $active-blue-color;
//   }
//    &.favorite--inactive{
//     background: $default-blue-color;
//   }
  @media screen and (min-width: 768px) {
    left: 284px;
  }
  @media screen and (min-width: 1280px) {
    left: 236px;
  }
}
.deletion {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 228px;
  top: 68px;
  background: $default-blue-color;
  border-radius: 50px;
  border: none;
  @media screen and (min-width: 768px) {
    left: 284px;
  }
  @media screen and (min-width: 1280px) {
    left: 236px;
  }
}
.add_pet {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 200px;
  top: 148px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  // font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #ffffff;
  background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  /* Shadow default */

  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 50px;
  border: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.animal_description {
  padding-right: 29px;
  margin-bottom: 20px;
  padding-left: 20px;

  // font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: $black-color;
    @media screen and (min-width: 1280px) {
    padding-right: 37px;
    
  }
}
.more_info_btn {
  display: block;
  margin-left: 16px;
  margin-bottom: 20px;
  margin-right: 16px;
  padding-right: 75px;
  padding-bottom: 8px;
  padding-left: 75px;
  padding-top: 8px;
  // font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: $active-blue-color;
  background-color: $bg-color;
  border: 2px solid $active-blue-color;
  border-radius: 40px;
  @media screen and (min-width: 768px) {
    margin-right: 44px;
    margin-bottom: 24px;
    margin-left: 44px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 20px;
    
    margin-left: 20px;
  }
}