body {
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  box-sizing: border-box;
  background-color: #fef9f9;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  padding: 0;
  margin-top: 0;
  margin: 0;
  margin-bottom: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  box-sizing: content-box;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    box-sizing: border-box;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.ModalContainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

// .container {
//   padding-left: 15px;
//   padding-right: 15px;

//   @media screen and (min-width: 480px) {
//     width: 480px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//   }
// }
