@font-face {
  font-family: "Manrope Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: "./fonts/Manrope-Regular.ttf";
}
@font-face {
  font-family: "Manrope Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: "./fonts/Inter-Medium.ttf";
}

@font-face {
  font-family: "Manrope SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: "./fonts/Manrope-SemiBold.ttf";
}

@font-face {
  font-family: "Manrope Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: "./fonts/Manrope-Bold.ttf";
}

@font-face {
  font-family: "Manrope ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: "./fonts/Manrope-ExtraBold.ttf";
}

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: "./fonts/Inter-Regular.ttf";
}

@font-face {
  font-family: "Inter Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: "./fonts/Inter-Medium.ttf";
}
