$accent-yelow-color: #ffc107;
$active-blue-color: #54adff;
$default-blue-color: #cce4fb;
$black-color: #111111;
$grey-color: #888888;
$green-color: #00c3ad;
$red-color: #f43f5e;
$bg-color: #fef9f9;
$default-white-color: #ffffff;
$gradient-color-bg: linear-gradient(90deg, #ff634e 0%, #ffdf48 105.44%);
