.wrapper {
  display: inline-block;
}
.btn {
  background-color: #cce4fb;
  color: #54adff;
  border: none;
  border-radius: 40px;
  padding: 8px 16px;

  cursor: pointer;
  font-size: 14px;
  line-height: 19px;

  /* background: linear-gradient(to right, #cce4fb, #54adff); 
  background-size: 200% 100%; 
  background-position: left bottom; 
  transition: background-position 0.3s ease-in-out; */
}
.btn:hover {
  background-color: #54adff;
  color: #fef9f9;
  /* background-position: right bottom; */
}
.btnChecked {
  background-color: #54adff;
  color: #fef9f9;
  border: none;
  border-radius: 40px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  line-height: 19px;
}
