@import "../../utils/base.scss";

.container {
  padding-top: 40px;
  padding-bottom: 80px;
}

.formWrapper {
  margin-bottom: 20px;
}

.title {
  margin: 0px;
  font-family: Manrope, Inter;
  font-size: 6rem;
  line-height: 1.167;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 700;
}
@media (min-width: 280px) {
  .title {
    margin-top: 40px;
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .title {
    margin-top: 80px;
    font-size: 48px;
  }
}

@media (min-width: 1280px) {
  .title {
    margin-top: 80px;
    font-size: 48px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.wrapper {
  position: relative;
}

@media screen and (max-width: 767px) {
  .wrapper {
    min-height: 70px;
    min-width: 40px;
  }

  .controls {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 80px;
    padding-bottom: 192px;
  }

  .formWrapper {
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  .wrapper {
    max-width: 320px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 12px;
  }

  .buttonWrapper {
    display: flex;
    gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-bottom: 103px;
  }

  .wrapper {
    max-width: 100%;
    align-items: center;
    flex-direction: row-reverse;
  }
}
